
// Global text & color stylings
//--------------------------------------------------------------------------------------
// Colors
$light: #fff;
$dark: #333;

$accent1: #f05f40; // orange
$accent2:  #ed431f; // red
$accent3: #cbc8c5; //grey
$accent4: #f5f5f5; //light grey

// fonts
$font1: 'Open Sans', sans-serif;
$font2: 'Merriweather', serif;

// root font-size
$root-font-size: 16px;
$main-font-size: 1.125rem;

// text options
h1,h2,h3,h5,h6 {
	font-family: $font1;
	text-align: center;
	margin: 0 0 1rem;
}

h2 {
	font-size: 3rem;
	text-transform: none;
	font-weight: 700;
	letter-spacing: 1px;
}

h3 {
	font-size: 2rem;
	font-weight: 700;
}

p {
	font-family: $font2;
	text-align: center;
	font-size: $main-font-size;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	max-width: 960px;

}

// cta & more link
.more {
	display: block;
	width:  auto;
	max-width:  240px;
	height: 44px;
	line-height: 44px;
	border-radius: 22px;
	padding: 0 22px;
	background: $accent1;
	text-transform: uppercase;
	font-family: $font1;
	color: #fff;
	font-weight: 700;
	@include default-trans(1s background ease);

	&:hover {
		background: $accent2;
		color: $light;
	}
}


body {
	font-family: $font2;
	height: auto;
	background: $accent4;
}


// Global container stylings
//--------------------------------------------------------------------------------------

$container-width: 1280px;

.container {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.content-box {
	padding: 4rem 1rem;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.inner-content {
	width: 100%;
	max-width:  $container-width;
	height: auto;
	margin:  0 auto;
}