// header
//--------------------------------------------------------------------------------------------------------

header {
	height: 80vh;
	width: 100%;
	background: url(../img/header.jpg);
	background-size: cover;
	position: relative;

	.overlay {
		position: absolute;
		z-index: 1;
		background: rgba(0, 0, 0, 0.7);
		height: 100%;
		width: 100%;
	}

	.header-content {
		text-align: center;
		width: 100%;
		z-index: 2;
		@include translateXY();

		h1 {
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 700;
			font-size:  6rem;
			color: $light;
			font-family: $font2;
			margin-bottom:  4rem;
		}

		h2, h3 {
			color: $light;
			font-size: 2.5rem;
			margin: 0;
			color: $accent1;
		}

		h3 {
			font-size:  1.5rem;
			margin-bottom: 3rem;
			color: $light;
		}

		p {
			margin-bottom: 50px;
			font-weight: 300;
			font-family:  $font1;
			font-size: 1.5rem;
			color: #fff;
			margin-bottom: 0;
		}

		a.more {
			max-width: 200px;
			margin: 0 auto;
		}
	}
}


// callforpapers
//--------------------------------------------------------------------------------------------------------
.content-box.callforpapers {
	text-align: center;
}

// topics
//--------------------------------------------------------------------------------------------------------
.content-box.topics {
	background: $accent1;

	h2, h3, p {
		color: $light;
	}

	h2 {
		margin-bottom: 0;
	}

	.topics {
		display: block;
		list-style-type: none;
		margin: 2rem 0 3rem 0;

		li {
			font-size: 1.3rem;
			border-top: 1px solid #f59885;
			color: $light;
			padding: 0.7rem 0;
			line-height: 1.4;
		}
	}
}

// sponsoring
//--------------------------------------------------------------------------------------------------------
.content-box.sponsoring {
	background: #333;

	h2, p {
		color: $light;
	}
	
	.logo {  
		margin: 0 0 2rem 0;

		div{
			background: #fff;
			display: flex;
			items-align: middle;

			&.big {height: 300px;}
			&.medium {height: 250px;}
			&.small {height: 200px;}
		}
	}

	.more {
		margin: 0 auto;
	}
}

//  crew Styles
//----------------------------------------------------------------------------------------
.content-box.crew {
	height: auto;
	overflow: hidden;
	padding: 4rem 0;

	.inner-content {
		max-width: 960px;
	}

	h2 {
		text-align: center;
	}

	h3{
		font-size: 1.5rem;
		text-align: center;
	}

	p {
		text-align: center;
	}

	img {
		text-align: center;
		display: block;
		margin: 1rem auto 2rem;	
		max-height: 200px;
		
		width: 200px;
		border-radius: 50%;	
	}

	ul {
		text-align: center;
		margin: 0;

		li {
			list-style-type: none;
			display: inline-block;
			text-align: center;
			margin-right: 0.5rem;

			&:last-child {
				margin: 0;
			}

			a {
				display: block;
				float: left;
				height: 40px;
				width: 40px;
				text-align: center;
				line-height: 40px;
				background: $accent1;
				border-radius: 50%;
				color: $light;
				@include default-trans(1s background ease, 1s color ease);

				&:hover {
					background: $accent2;
					color: #fff;
				}
			}
		}
	}
}
@include mq-680 {
	.content-box.crew {
		padding: 2rem 0.5rem;

		img {
			max-width: 100px;
			margin-bottom:  0.5rem;
		}

		p {
			margin-bottom: 1rem;
		}

		ul {
			margin-bottom: 2rem;
		}
	}	
}

// sponsores
//--------------------------------------------------------------------------------------------------------

//colors
$white: #fff;
$color_outrageous_orange_90_approx: rgba(240,95,64,.9);
$color_outrageous_orange_approx: #f05f40;
$color_log_cabin_approx: #222;
$color_gallery_approx: #ededed;
$concrete: #f2f2f2;
$color_pomegranate_approx: #ed431f;

//fonts
$font_0: Open Sans;
$font_1: Helvetica Neue;
$font_2: Arial;
$font_3: sans-serif;

.section-heading {
	margin-top: 0;
}
.service-box {
	margin: 50px auto 0;
	max-width: 400px;
	p {
		margin-bottom: 0;
	}
}
@media(min-width:992px) {
	.service-box {
		margin: 20px auto 0;
	}
}
.portfolio-box {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 650px;
	.portfolio-box-caption {
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		color: $white;
		opacity: 0;
		background: $color_outrageous_orange_90_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all .35s;
		.portfolio-box-caption-content {
			position: absolute;
			top: 50%;
			width: 100%;
			text-align: center;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-50%);
			.project-category {
				padding: 0 15px;
				font-family: $font_0, $font_1, $font_2, $font_3;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
			}
			.project-name {
				padding: 0 15px;
				font-family: $font_0, $font_1, $font_2, $font_3;
				font-size: 18px;
			}
		}
	}
	&:hover .portfolio-box-caption {
		opacity: 1;
	}
}
@media(min-width:768px) {
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
		.project-category {
			font-size: 16px;
		}
		.project-name {
			font-size: 22px;
		}
	}
}
.text-primary {
	color: $color_outrageous_orange_approx;
}
.btn-default {
	border-color: $white;
	color: $color_log_cabin_approx;
	background-color: $white;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .35s;
	&:hover {
		border-color: $color_gallery_approx;
		color: $color_log_cabin_approx;
		background-color: $concrete;
	}
	&:focus {
		border-color: $color_gallery_approx;
		color: $color_log_cabin_approx;
		background-color: $concrete;
	}
	&.focus {
		border-color: $color_gallery_approx;
		color: $color_log_cabin_approx;
		background-color: $concrete;
	}
	&:active {
		border-color: $color_gallery_approx;
		color: $color_log_cabin_approx;
		background-color: $concrete;
		background-image: none;
	}
	&.active {
		border-color: $color_gallery_approx;
		color: $color_log_cabin_approx;
		background-color: $concrete;
		background-image: none;
	}
	&.disabled {
		border-color: $white;
		background-color: $white;
		&:hover {
			border-color: $white;
			background-color: $white;
		}
		&:focus {
			border-color: $white;
			background-color: $white;
		}
		&.focus {
			border-color: $white;
			background-color: $white;
		}
		&:active {
			border-color: $white;
			background-color: $white;
		}
		&.active {
			border-color: $white;
			background-color: $white;
		}
	}
	.badge {
		color: $white;
		background-color: $color_log_cabin_approx;
	}
}
.btn-default[disabled] {
	border-color: $white;
	background-color: $white;
	&:hover {
		border-color: $white;
		background-color: $white;
	}
	&:focus {
		border-color: $white;
		background-color: $white;
	}
	&.focus {
		border-color: $white;
		background-color: $white;
	}
	&:active {
		border-color: $white;
		background-color: $white;
	}
	&.active {
		border-color: $white;
		background-color: $white;
	}
}
fieldset[disabled] {
	.btn-default {
		border-color: $white;
		background-color: $white;
		&:hover {
			border-color: $white;
			background-color: $white;
		}
		&:focus {
			border-color: $white;
			background-color: $white;
		}
		&.focus {
			border-color: $white;
			background-color: $white;
		}
		&:active {
			border-color: $white;
			background-color: $white;
		}
		&.active {
			border-color: $white;
			background-color: $white;
		}
	}
	.btn-primary {
		border-color: $color_outrageous_orange_approx;
		background-color: $color_outrageous_orange_approx;
		&:hover {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
		&:focus {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
		&.focus {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
		&:active {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
		&.active {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
	}
}
.btn-primary {
	border-color: $color_outrageous_orange_approx;
	color: $white;
	background-color: $color_outrageous_orange_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .35s;
	&:hover {
		border-color: $color_pomegranate_approx;
		color: $white;
		background-color: $color_pomegranate_approx;
	}
	&:focus {
		border-color: $color_pomegranate_approx;
		color: $white;
		background-color: $color_pomegranate_approx;
	}
	&.focus {
		border-color: $color_pomegranate_approx;
		color: $white;
		background-color: $color_pomegranate_approx;
	}
	&:active {
		border-color: $color_pomegranate_approx;
		color: $white;
		background-color: $color_pomegranate_approx;
		background-image: none;
	}
	&.active {
		border-color: $color_pomegranate_approx;
		color: $white;
		background-color: $color_pomegranate_approx;
		background-image: none;
	}
	&.disabled {
		border-color: $color_outrageous_orange_approx;
		background-color: $color_outrageous_orange_approx;
		&:hover {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
		&:focus {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
		&.focus {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
		&:active {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
		&.active {
			border-color: $color_outrageous_orange_approx;
			background-color: $color_outrageous_orange_approx;
		}
	}
	.badge {
		color: $color_outrageous_orange_approx;
		background-color: $white;
	}
}
.btn-primary[disabled] {
	border-color: $color_outrageous_orange_approx;
	background-color: $color_outrageous_orange_approx;
	&:hover {
		border-color: $color_outrageous_orange_approx;
		background-color: $color_outrageous_orange_approx;
	}
	&:focus {
		border-color: $color_outrageous_orange_approx;
		background-color: $color_outrageous_orange_approx;
	}
	&.focus {
		border-color: $color_outrageous_orange_approx;
		background-color: $color_outrageous_orange_approx;
	}
	&:active {
		border-color: $color_outrageous_orange_approx;
		background-color: $color_outrageous_orange_approx;
	}
	&.active {
		border-color: $color_outrageous_orange_approx;
		background-color: $color_outrageous_orange_approx;
	}
}
.btn {
	border: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 300px;
	text-transform: uppercase;
	font-family: $font_0, $font_1, $font_2, $font_3;
	font-weight: 700;
}
.btn-xl {
	padding: 15px 30px;
}
::-moz-selection {
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: none;
	color: $white;
	background: $color_log_cabin_approx;
}
::selection {
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: none;
	color: $white;
	background: $color_log_cabin_approx;
}
img::selection {
	color: $white;
	background: 0 0;
}
img::-moz-selection {
	color: $white;
	background: 0 0;
}
body {
	webkit-tap-highlight-color: $color_log_cabin_approx;
}
#map {
	height: 300px;
	overflow: visible;
	position: relative;
}
.call-to-action h2 {
	margin: 0 auto 20px;
}
.no-gutter > [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.open > .dropdown-toggle {
	&.btn-default {
		border-color: $color_gallery_approx;
		color: $color_log_cabin_approx;
		background-color: $concrete;
		background-image: none;
	}
	&.btn-primary {
		border-color: $color_pomegranate_approx;
		color: $white;
		background-color: $color_pomegranate_approx;
		background-image: none;
	}
}