/* default transitions (repalce vars in styles)
---------------------------------------------------------------------------------------- */
/* Center Content in  X-direction (horizontal)
---------------------------------------------------------------------------------------- */
/* Center Content in  Y-direction (vertical)
---------------------------------------------------------------------------------------- */
/* Center Content in both directions X, Y
---------------------------------------------------------------------------------------- */
/* unbind center position
---------------------------------------------------------------------------------------- */
/* Rotate elements
---------------------------------------------------------------------------------------- */
/* Unbind rotate elements
---------------------------------------------------------------------------------------- */
/*  scale background images
---------------------------------------------------------------------------------------- */
/*  triangleTop
---------------------------------------------------------------------------------------- */
/* Background gradient
---------------------------------------------------------------------------------------- */
/* Media Queries
---------------------------------------------------------------------------------------- */
/* Pace Preloader
---------------------------------------------------------------------------------------- */
/* Flexbox
---------------------------------------------------------------------------------------- */
h1, h2, h3, h5, h6 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0 0 1rem; }

h2 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative; }
  h2:before {
    content: "";
    height: 2px;
    width: 84px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -42px;
    top: -1rem;
    background: #f05f40; }

h3 {
  font-size: 2rem;
  font-weight: 700; }

p {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 1.125rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: 960px; }

.more {
  display: block;
  width: auto;
  max-width: 240px;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  padding: 0 22px;
  background: #f05f40;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 1s background ease;
  -moz-transition: 1s background ease;
  -ms-transition: 1s background ease;
  -o-transition: 1s background ease;
  transition: 1s background ease; }
  .more:hover {
    background: #ed431f;
    color: #fff; }

body {
  font-family: "Merriweather", serif;
  height: auto;
  background: #f5f5f5; }

.container {
  width: 100%;
  height: auto;
  overflow: hidden; }

.content-box {
  padding: 5em 1rem 4rem;
  height: auto;
  width: 100%;
  overflow: hidden; }

.inner-content {
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 0 auto; }

nav {
  display: none; }

header {
  height: 80vh;
  width: 100%;
  background: url(../img/header.jpg);
  background-size: cover;
  position: relative; }
  header .overlay {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
  header .header-content {
    text-align: center;
    width: 100%;
    z-index: 2;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    header .header-content h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 5rem;
      color: #fff;
      font-family: "Merriweather", serif;
      margin-bottom: 4rem; }
    header .header-content h2, header .header-content h3 {
      color: #fff;
      font-size: 2.5rem;
      margin: 0;
      color: #f05f40; }
    header .header-content h3 {
      font-size: 1.5rem;
      margin-bottom: 3rem;
      color: #fff; }
    header .header-content p {
      margin-bottom: 50px;
      font-weight: 300;
      font-family: "Open Sans", sans-serif;
      font-size: 1.5rem;
      color: #fff;
      margin-bottom: 0; }
    header .header-content a.more {
      max-width: 200px;
      margin: 0 auto; }
  header.single {
    height: 60vh;
    background-size: cover;
    background: url(../img/header.jpg) center; }
    header.single .header-content {
      max-width: 960px;
      top: 0;
      left: 0;
      position: static;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      position: relative;
      z-index: 2;
      margin: 0 auto;
      height: inherit; }
      header.single .header-content .header-content-inner {
        position: absolute;
        bottom: 4rem; }
      header.single .header-content h1 {
        position: relative;
        text-align: left;
        margin-bottom: 0;
        font-size: 4rem; }
      header.single .header-content p {
        text-align: left; }
        header.single .header-content p:before {
          content: "";
          width: 70px;
          height: 3px;
          background: #f05f40;
          position: absolute;
          top: -1.5rem;
          left: 0; }

.content-box.callforpapers {
  text-align: center; }

.content-box.about {
  background: #f05f40; }
  .content-box.about h2, .content-box.about h3, .content-box.about p {
    color: #fff; }
  .content-box.about h2:before {
    background: #fff; }

.content-box.topics {
  background: #f05f40; }
  .content-box.topics h2, .content-box.topics h3, .content-box.topics p {
    color: #fff; }
  .content-box.topics h2 {
    margin-bottom: 0; }
    .content-box.topics h2:before {
      background: #fff; }
  .content-box.topics .topics {
    display: block;
    list-style-type: none;
    margin: 2rem 0 3rem 0; }
    .content-box.topics .topics li {
      font-size: 1.3rem;
      border-top: 1px solid #f59885;
      color: #fff;
      padding: 0.7rem 0;
      line-height: 1.4; }

.content-box.advisory {
  height: auto;
  overflow: hidden;
  background: #f7765a;
  color: #fff; }
  .content-box.advisory .inner-content {
    max-width: 960px; }
  .content-box.advisory h2 {
    text-align: center; }
    .content-box.advisory h2:before {
      background: #fff; }
  .content-box.advisory h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0; }
  .content-box.advisory p {
    text-align: center; }
  .content-box.advisory img {
    text-align: center;
    display: block;
    margin: 1rem auto 2rem;
    max-height: 200px;
    width: 200px;
    border-radius: 50%; }
  .content-box.advisory ul {
    text-align: center;
    margin: 0; }
    .content-box.advisory ul li {
      list-style-type: none;
      display: inline-block;
      text-align: center;
      margin-right: 0.5rem; }
      .content-box.advisory ul li:last-child {
        margin: 0; }
      .content-box.advisory ul li a {
        display: block;
        float: left;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        background: #f05f40;
        border-radius: 50%;
        color: #fff;
        -webkit-transition: 1s background ease, 1s color ease;
        -moz-transition: 1s background ease, 1s color ease;
        -ms-transition: 1s background ease, 1s color ease;
        -o-transition: 1s background ease, 1s color ease;
        transition: 1s background ease, 1s color ease; }
        .content-box.advisory ul li a:hover {
          background: #ed431f;
          color: #fff; }

@media (max-width: 680px) {
  .content-box.crew {
    padding: 2rem 0.5rem; }
    .content-box.crew img {
      max-width: 100px;
      margin-bottom: 0.5rem; }
    .content-box.crew p {
      margin-bottom: 1rem; }
    .content-box.crew ul {
      margin-bottom: 2rem; } }
.content-box.sponsoring {
  background: #f5f5f5; }
  .content-box.sponsoring .inner-content {
    max-width: 1024px; }
  .content-box.sponsoring h2, .content-box.sponsoring p {
    color: #333; }
  .content-box.sponsoring a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #d0d0d0;
    -webkit-transition: 1s border-color ease;
    -moz-transition: 1s border-color ease;
    -ms-transition: 1s border-color ease;
    -o-transition: 1s border-color ease;
    transition: 1s border-color ease;
    margin-bottom: 2rem; }
    .content-box.sponsoring a:hover {
      border-color: #f05f40; }
    .content-box.sponsoring a img {
      height: 90%;
      width: auto;
      max-width: 170px; }
    .content-box.sponsoring a.big {
      height: 170px; }
    .content-box.sponsoring a.medium {
      height: 130px; }
    .content-box.sponsoring a.small {
      height: 100px; }

.content-box.program {
  background: #f05f40;
  padding-bottom: 6rem; }
  .content-box.program h2, .content-box.program p {
    color: #fff; }
  .content-box.program p {
    margin-bottom: 3rem; }
  .content-box.program .accordion {
    display: block;
    background: #fff;
    margin: 0 auto;
    max-width: 1024px;
    list-style-type: none;
    padding: 0 1.5rem; }
    .content-box.program .accordion .acc-container, .content-box.program .accordion .acc-container-break {
      text-align: left;
      position: relative;
      border-bottom: 1px solid #cecece; }
      .content-box.program .accordion .acc-container .acc-title, .content-box.program .accordion .acc-container-break .acc-title {
        height: auto;
        overflow: hidden;
        width: 100%; }
      .content-box.program .accordion .acc-container p, .content-box.program .accordion .acc-container-break p {
        text-align: left; }
      .content-box.program .accordion .acc-container h3, .content-box.program .accordion .acc-container-break h3 {
        text-align: left;
        float: none;
        display: block;
        position: relative;
        height: auto;
        min-height: 66px;
        box-sizing: border-box;
        padding: 1rem 3rem 1rem 0;
        font-size: 1.2rem;
        line-height: 1.5;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        margin-bottom: 0;
        -webkit-transition: 1s color ease;
        -moz-transition: 1s color ease;
        -ms-transition: 1s color ease;
        -o-transition: 1s color ease;
        transition: 1s color ease; }
        .content-box.program .accordion .acc-container h3:hover, .content-box.program .accordion .acc-container-break h3:hover {
          color: #f05f40; }
        .content-box.program .accordion .acc-container h3 .time, .content-box.program .accordion .acc-container-break h3 .time {
          background: #f05f40;
          display: block;
          width: 136px;
          text-align: center;
          color: #fff;
          float: left;
          font-size: 1.125rem;
          margin-right: 1rem;
          margin-top: 4px;
          padding: 0.5rem;
          font-family: "Open Sans", sans-serif; }
          .content-box.program .accordion .acc-container h3 .time.break, .content-box.program .accordion .acc-container-break h3 .time.break {
            background: #b3b3b3; }
        .content-box.program .accordion .acc-container h3 .speaker, .content-box.program .accordion .acc-container h3 .subline, .content-box.program .accordion .acc-container-break h3 .speaker, .content-box.program .accordion .acc-container-break h3 .subline {
          display: block;
          font-size: 1rem;
          font-family: "Merriweather", serif;
          font-weight: 300;
          color: #7d7d7d; }
      .content-box.program .accordion .acc-container i, .content-box.program .accordion .acc-container-break i {
        position: absolute;
        right: 0;
        top: 1rem;
        font-size: 1.5rem;
        color: #adacac; }
      .content-box.program .accordion .acc-container .acc-content, .content-box.program .accordion .acc-container-break .acc-content {
        height: auto;
        padding: 0 0 0.5rem 0;
        display: none; }
        .content-box.program .accordion .acc-container .acc-content p, .content-box.program .accordion .acc-container-break .acc-content p {
          text-align: left;
          margin: 0 0 1rem 0;
          padding-left: 155px;
          font-size: 1rem;
          line-height: 1.5;
          color: #7d7d7d; }
          .content-box.program .accordion .acc-container .acc-content p span, .content-box.program .accordion .acc-container-break .acc-content p span {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            color: #333; }
      .content-box.program .accordion .acc-container.active h3, .content-box.program .accordion .acc-container-break.active h3 {
        color: #f05f40; }
    .content-box.program .accordion .acc-container-break h3 {
      cursor: default; }
      .content-box.program .accordion .acc-container-break h3:hover {
        color: #333; }

@media (max-width: 960px) {
  .content-box.program .accordion .acc-container h3 span.time, .content-box.program .accordion .acc-container-break h3 span.time {
    float: none;
    margin-bottom: 1rem; }
  .content-box.program .accordion .acc-container .acc-content p, .content-box.program .accordion .acc-container-break .acc-content p {
    padding: 0; } }
.content-box.contact {
  background: #333; }
  .content-box.contact h2, .content-box.contact p, .content-box.contact a {
    color: #fff; }
  .content-box.contact a {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 1.8rem;
    background: #f05f40;
    text-align: center;
    line-height: 58px;
    margin: 0 auto;
    -webkit-transition: 1s color ease, 1s background ease;
    -moz-transition: 1s color ease, 1s background ease;
    -ms-transition: 1s color ease, 1s background ease;
    -o-transition: 1s color ease, 1s background ease;
    transition: 1s color ease, 1s background ease; }
    .content-box.contact a:hover {
      background: #fff;
      color: #f05f40; }

footer {
  background: #252525;
  height: auto;
  overflow: hidden;
  padding: 0 1rem; }
  footer p {
    margin: 0;
    width: auto;
    float: left;
    padding: 2rem 0;
    color: #505050;
    font-size: 1rem;
    line-height: 1; }
    footer p:last-child {
      float: right; }
      footer p:last-child a {
        color: #505050;
        -webkit-transition: 1s color ease;
        -moz-transition: 1s color ease;
        -ms-transition: 1s color ease;
        -o-transition: 1s color ease;
        transition: 1s color ease; }
        footer p:last-child a:hover {
          color: #f05f40; }

.content-box.single-content {
  text-align: left; }
  .content-box.single-content .inner-content {
    width: 960px; }
  .content-box.single-content h2, .content-box.single-content h3, .content-box.single-content p {
    text-align: left; }
  .content-box.single-content p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #565656; }
  .content-box.single-content h2 {
    font-size: 2.5rem; }
  .content-box.single-content a {
    color: #f05f40;
    -webkit-transition: 1s color ease;
    -moz-transition: 1s color ease;
    -ms-transition: 1s color ease;
    -o-transition: 1s color ease;
    transition: 1s color ease; }
    .content-box.single-content a:hover {
      color: #ed431f; }
  .content-box.single-content .more {
    color: #fff;
    max-width: auto;
    float: left; }
  .content-box.single-content ul {
    display: block;
    float: none;
    clear: both;
    margin: 0 0 2rem 0; }
    .content-box.single-content ul li {
      list-style-type: none;
      padding: 0.5rem 0 0.5rem 1.5rem;
      margin-bottom: 5px;
      position: relative;
      border-bottom: 1px solid #ccc;
      font-size: 1.125rem;
      color: #565656; }
      .content-box.single-content ul li:last-child {
        border: none; }
      .content-box.single-content ul li:before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #f05f40;
        position: absolute;
        left: 0;
        top: 14px; }
    .content-box.single-content ul ul {
      margin: 0 0 0 0.5rem; }
      .content-box.single-content ul ul li {
        border: none;
        margin-bottom: 0;
        padding: 0.1rem 0 0 1.5rem; }
        .content-box.single-content ul ul li:before {
          top: 9px; }
  .content-box.single-content ol {
    margin-bottom: 2rem; }
    .content-box.single-content ol li {
      margin-bottom: 1rem;
      color: #565656;
      font-size: 1.125rem; }
  .content-box.single-content table tr th {
    text-align: right; }
    .content-box.single-content table tr th:first-child {
      text-align: left; }

#contact {
  background: #222;
  color: #fff; }

/*# sourceMappingURL=main.css.map */
