/* default transitions (repalce vars in styles)
---------------------------------------------------------------------------------------- */
/* Center Content in  X-direction (horizontal)
---------------------------------------------------------------------------------------- */
/* Center Content in  Y-direction (vertical)
---------------------------------------------------------------------------------------- */
/* Center Content in both directions X, Y
---------------------------------------------------------------------------------------- */
/* unbind center position
---------------------------------------------------------------------------------------- */
/* Rotate elements
---------------------------------------------------------------------------------------- */
/* Unbind rotate elements
---------------------------------------------------------------------------------------- */
/*  scale background images
---------------------------------------------------------------------------------------- */
/*  triangleTop
---------------------------------------------------------------------------------------- */
/* Background gradient
---------------------------------------------------------------------------------------- */
/* Media Queries
---------------------------------------------------------------------------------------- */
/* Pace Preloader
---------------------------------------------------------------------------------------- */
h1, h2, h3, h5, h6 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0 0 1rem; }

h2 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  letter-spacing: 1px; }

h3 {
  font-size: 2rem;
  font-weight: 700; }

p {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 1.125rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: 960px; }

.more {
  display: block;
  width: auto;
  max-width: 240px;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  padding: 0 22px;
  background: #f05f40;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 1s background ease;
  -moz-transition: 1s background ease;
  -ms-transition: 1s background ease;
  -o-transition: 1s background ease;
  transition: 1s background ease; }
  .more:hover {
    background: #ed431f;
    color: #fff; }

body {
  font-family: "Merriweather", serif;
  height: auto;
  background: #f5f5f5; }

.container {
  width: 100%;
  height: auto;
  overflow: hidden; }

.content-box {
  padding: 4rem 1rem;
  height: auto;
  width: 100%;
  overflow: hidden; }

.inner-content {
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 0 auto; }

nav {
  display: none; }

header {
  height: 80vh;
  width: 100%;
  background: url(../img/header.jpg);
  background-size: cover;
  position: relative; }
  header .overlay {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%; }
  header .header-content {
    text-align: center;
    width: 100%;
    z-index: 2;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    header .header-content h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 6rem;
      color: #fff;
      font-family: "Merriweather", serif;
      margin-bottom: 4rem; }
    header .header-content h2, header .header-content h3 {
      color: #fff;
      font-size: 2.5rem;
      margin: 0;
      color: #f05f40; }
    header .header-content h3 {
      font-size: 1.5rem;
      margin-bottom: 3rem;
      color: #fff; }
    header .header-content p {
      margin-bottom: 50px;
      font-weight: 300;
      font-family: "Open Sans", sans-serif;
      font-size: 1.5rem;
      color: #fff;
      margin-bottom: 0; }
    header .header-content a.more {
      max-width: 200px;
      margin: 0 auto; }

.content-box.callforpapers {
  text-align: center; }

.content-box.topics {
  background: #f05f40; }
  .content-box.topics h2, .content-box.topics h3, .content-box.topics p {
    color: #fff; }
  .content-box.topics h2 {
    margin-bottom: 0; }
  .content-box.topics .topics {
    display: block;
    list-style-type: none;
    margin: 2rem 0 3rem 0; }
    .content-box.topics .topics li {
      font-size: 1.3rem;
      border-top: 1px solid #f59885;
      color: #fff;
      padding: 0.7rem 0;
      line-height: 1.4; }

.content-box.sponsoring {
  background: #333; }
  .content-box.sponsoring h2, .content-box.sponsoring p {
    color: #fff; }
  .content-box.sponsoring .logo {
    margin: 0 0 2rem 0; }
    .content-box.sponsoring .logo div {
      background: #fff;
      display: flex;
      items-align: middle; }
      .content-box.sponsoring .logo div.big {
        height: 300px; }
      .content-box.sponsoring .logo div.medium {
        height: 250px; }
      .content-box.sponsoring .logo div.small {
        height: 200px; }
  .content-box.sponsoring .more {
    margin: 0 auto; }

.content-box.program {
  background: #f05f40;
  padding-bottom: 6rem; }
  .content-box.program h2, .content-box.program p {
    color: #fff; }
  .content-box.program p {
    margin-bottom: 3rem; }
  .content-box.program .accordion {
    display: block;
    background: #fff;
    margin: 0 auto;
    max-width: 1024px;
    list-style-type: none;
    padding: 0 1.5rem; }
    .content-box.program .accordion .acc-container, .content-box.program .accordion .acc-container-break {
      text-align: left;
      position: relative;
      border-bottom: 1px solid #cecece; }
      .content-box.program .accordion .acc-container .acc-title, .content-box.program .accordion .acc-container-break .acc-title {
        height: auto;
        overflow: hidden;
        width: 100%; }
      .content-box.program .accordion .acc-container p, .content-box.program .accordion .acc-container-break p {
        text-align: left; }
      .content-box.program .accordion .acc-container h3, .content-box.program .accordion .acc-container-break h3 {
        text-align: left;
        float: none;
        display: block;
        position: relative;
        height: auto;
        min-height: 66px;
        box-sizing: border-box;
        padding: 1rem 3rem 1rem 0;
        font-size: 1.2rem;
        line-height: 1.5;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        margin-bottom: 0;
        -webkit-transition: 1s color ease;
        -moz-transition: 1s color ease;
        -ms-transition: 1s color ease;
        -o-transition: 1s color ease;
        transition: 1s color ease; }
        .content-box.program .accordion .acc-container h3:hover, .content-box.program .accordion .acc-container-break h3:hover {
          color: #f05f40; }
        .content-box.program .accordion .acc-container h3 .time, .content-box.program .accordion .acc-container-break h3 .time {
          background: #f05f40;
          display: block;
          width: 136px;
          text-align: center;
          color: #fff;
          float: left;
          font-size: 1.125rem;
          margin-right: 1rem;
          margin-top: 4px;
          padding: 0.5rem;
          font-family: "Open Sans", sans-serif; }
          .content-box.program .accordion .acc-container h3 .time.break, .content-box.program .accordion .acc-container-break h3 .time.break {
            background: #b3b3b3; }
        .content-box.program .accordion .acc-container h3 .speaker, .content-box.program .accordion .acc-container h3 .subline, .content-box.program .accordion .acc-container-break h3 .speaker, .content-box.program .accordion .acc-container-break h3 .subline {
          display: block;
          font-size: 1rem;
          font-family: "Merriweather", serif;
          font-weight: 300;
          color: #7d7d7d; }
      .content-box.program .accordion .acc-container i, .content-box.program .accordion .acc-container-break i {
        position: absolute;
        right: 0;
        top: 1rem;
        font-size: 1.5rem;
        color: #adacac; }
      .content-box.program .accordion .acc-container .acc-content, .content-box.program .accordion .acc-container-break .acc-content {
        height: auto;
        padding: 0 0 0.5rem 0;
        display: none; }
        .content-box.program .accordion .acc-container .acc-content p, .content-box.program .accordion .acc-container-break .acc-content p {
          text-align: left;
          margin: 0 0 1rem 0;
          padding-left: 155px;
          font-size: 1rem;
          line-height: 1.5;
          color: #7d7d7d; }
          .content-box.program .accordion .acc-container .acc-content p span, .content-box.program .accordion .acc-container-break .acc-content p span {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            color: #333; }
      .content-box.program .accordion .acc-container.active h3, .content-box.program .accordion .acc-container-break.active h3 {
        color: #f05f40; }
    .content-box.program .accordion .acc-container-break h3 {
      cursor: default; }
      .content-box.program .accordion .acc-container-break h3:hover {
        color: #333; }

@media (max-width: 960px) {
  .content-box.program .accordion .acc-container h3 span.time, .content-box.program .accordion .acc-container-break h3 span.time {
    float: none;
    margin-bottom: 1rem; }
  .content-box.program .accordion .acc-container .acc-content p, .content-box.program .accordion .acc-container-break .acc-content p {
    padding: 0; } }
.section-heading {
  margin-top: 0; }

.service-box {
  margin: 50px auto 0;
  max-width: 400px; }
  .service-box p {
    margin-bottom: 0; }

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0; } }
.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px; }
  .portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240, 95, 64, 0.9);
    transition: all .35s; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%); }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        padding: 0 15px;
        font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        padding: 0 15px;
        font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
        font-size: 18px; }
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1; }

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px; }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px; } }
.text-primary {
  color: #f05f40; }

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  transition: all .35s; }
  .btn-default:hover {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2; }
  .btn-default:focus {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2; }
  .btn-default.focus {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2; }
  .btn-default:active {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    background-image: none; }
  .btn-default.active {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    background-image: none; }
  .btn-default.disabled {
    border-color: #fff;
    background-color: #fff; }
    .btn-default.disabled:hover {
      border-color: #fff;
      background-color: #fff; }
    .btn-default.disabled:focus {
      border-color: #fff;
      background-color: #fff; }
    .btn-default.disabled.focus {
      border-color: #fff;
      background-color: #fff; }
    .btn-default.disabled:active {
      border-color: #fff;
      background-color: #fff; }
    .btn-default.disabled.active {
      border-color: #fff;
      background-color: #fff; }
  .btn-default .badge {
    color: #fff;
    background-color: #222; }

.btn-default[disabled] {
  border-color: #fff;
  background-color: #fff; }
  .btn-default[disabled]:hover {
    border-color: #fff;
    background-color: #fff; }
  .btn-default[disabled]:focus {
    border-color: #fff;
    background-color: #fff; }
  .btn-default[disabled].focus {
    border-color: #fff;
    background-color: #fff; }
  .btn-default[disabled]:active {
    border-color: #fff;
    background-color: #fff; }
  .btn-default[disabled].active {
    border-color: #fff;
    background-color: #fff; }

fieldset[disabled] .btn-default {
  border-color: #fff;
  background-color: #fff; }
  fieldset[disabled] .btn-default:hover {
    border-color: #fff;
    background-color: #fff; }
  fieldset[disabled] .btn-default:focus {
    border-color: #fff;
    background-color: #fff; }
  fieldset[disabled] .btn-default.focus {
    border-color: #fff;
    background-color: #fff; }
  fieldset[disabled] .btn-default:active {
    border-color: #fff;
    background-color: #fff; }
  fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff; }
fieldset[disabled] .btn-primary {
  border-color: #f05f40;
  background-color: #f05f40; }
  fieldset[disabled] .btn-primary:hover {
    border-color: #f05f40;
    background-color: #f05f40; }
  fieldset[disabled] .btn-primary:focus {
    border-color: #f05f40;
    background-color: #f05f40; }
  fieldset[disabled] .btn-primary.focus {
    border-color: #f05f40;
    background-color: #f05f40; }
  fieldset[disabled] .btn-primary:active {
    border-color: #f05f40;
    background-color: #f05f40; }
  fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40; }

.btn-primary {
  border-color: #f05f40;
  color: #fff;
  background-color: #f05f40;
  transition: all .35s; }
  .btn-primary:hover {
    border-color: #ed431f;
    color: #fff;
    background-color: #ed431f; }
  .btn-primary:focus {
    border-color: #ed431f;
    color: #fff;
    background-color: #ed431f; }
  .btn-primary.focus {
    border-color: #ed431f;
    color: #fff;
    background-color: #ed431f; }
  .btn-primary:active {
    border-color: #ed431f;
    color: #fff;
    background-color: #ed431f;
    background-image: none; }
  .btn-primary.active {
    border-color: #ed431f;
    color: #fff;
    background-color: #ed431f;
    background-image: none; }
  .btn-primary.disabled {
    border-color: #f05f40;
    background-color: #f05f40; }
    .btn-primary.disabled:hover {
      border-color: #f05f40;
      background-color: #f05f40; }
    .btn-primary.disabled:focus {
      border-color: #f05f40;
      background-color: #f05f40; }
    .btn-primary.disabled.focus {
      border-color: #f05f40;
      background-color: #f05f40; }
    .btn-primary.disabled:active {
      border-color: #f05f40;
      background-color: #f05f40; }
    .btn-primary.disabled.active {
      border-color: #f05f40;
      background-color: #f05f40; }
  .btn-primary .badge {
    color: #f05f40;
    background-color: #fff; }

.btn-primary[disabled] {
  border-color: #f05f40;
  background-color: #f05f40; }
  .btn-primary[disabled]:hover {
    border-color: #f05f40;
    background-color: #f05f40; }
  .btn-primary[disabled]:focus {
    border-color: #f05f40;
    background-color: #f05f40; }
  .btn-primary[disabled].focus {
    border-color: #f05f40;
    background-color: #f05f40; }
  .btn-primary[disabled]:active {
    border-color: #f05f40;
    background-color: #f05f40; }
  .btn-primary[disabled].active {
    border-color: #f05f40;
    background-color: #f05f40; }

.btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
  font-weight: 700; }

.btn-xl {
  padding: 15px 30px; }

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222; }

::selection {
  text-shadow: none;
  color: #fff;
  background: #222; }

img::selection {
  color: #fff;
  background: 0 0; }

img::-moz-selection {
  color: #fff;
  background: 0 0; }

body {
  webkit-tap-highlight-color: #222; }

#map {
  height: 300px;
  overflow: visible;
  position: relative; }

.call-to-action h2 {
  margin: 0 auto 20px; }

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
  background-image: none; }
.open > .dropdown-toggle.btn-primary {
  border-color: #ed431f;
  color: #fff;
  background-color: #ed431f;
  background-image: none; }

/*# sourceMappingURL=main.css.map */
