<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
	{{ partial "seo/seo.html" .}}
	{{ partial "seo/google_tag_manager.html" }}
</head>

<body class="single">
    {{ partial "seo/google_tag_manager_body.html" }}
	{{ partial "nav-single.html" . }}
	{{ partial "hero-single.html" . }}
    <div class="content-box single-content">
        <div class="inner-content">
            <div class="clearfix"></div>
            {{ .Content | markdownify }}
            <div class="speaker-box">
                <div class="small-12 medium-4 large-2 columns">
                    <a href=""><img src="{{.Params.image}}" alt=""></a>
                </div>
                <div class="small-12 medium-8 large-10 columns">
                    <h2><a href="{{ .Params.speaker_link}}">{{.Params.speaker}}<span>{{.Params.firm}}</span></a></h2>
                    <p>{{.Params.bio }}<a href="{{ .Params.speaker_link}}">read more</a></p>
                </div>
            </div>
            {{if .Params.speaker2 }}
            <div class="speaker-box">
                <div class="small-12 medium-4 large-2 columns">
                    <a href=""><img src="{{.Params.speaker2_image}}" alt=""></a>
                </div>
                <div class="small-12 medium-8 large-10 columns">
                    <h2><a href="{{ .Params.speaker2_link}}">{{.Params.speaker2}}<span>{{.Params.speaker2_firm}}</span></a></h2>
                    <p>{{.Params.speaker2_bio }}<a href="{{.Params.speaker2_link}}">read more</a></p>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    </div>
    {{partial "contact.html" .}}
	{{partial "footer.html" .}}
	{{ partial "js.html" . }}
</body>

</html>
