.navigation-container {
	display: block;
	position: fixed;
	z-index: 100;
	padding: 0 1rem;
	height: 70px;
	top: 0;
	left: 0;
	width: 100%;
	background: $light;
	border-bottom: 1px solid #d6d6d6;

	.inner-content {
		position: relative;
	}

	.branding {
		font-family: $font2;
		font-size: 1.5rem;
		color: $accent1;
		display: block;
		position: absolute;
		left: 0;
		top: 0.5rem;
			img{
				width: 100%;
			}
		

		span {
			font-weight: 700;
		}
	}

	.burger {
		display: none;
	}

	.navigation {
		display: block;
		margin: 0;
		float: right;

		li {
			list-style-type: none;
			display: inline-block;
			float: left;
			margin-left:  1rem;
			position: relative;

			a {
				display: block;
				color: $dark;
				font-size: 1rem;
				position: relative;
				float: left;
				height: 70px;
				line-height: 66px;
				clear: both;
				border-top: 4px solid $light;
				@include default-trans(1s border-color ease, 1s color ease);

				&:hover, &.active {
					border-color: $accent1;
					color: $accent1;
				}

				&:after {
					content:"";
					position: absolute;
					bottom:  0.5rem;
					left: 0;
					height: 2px;
					width: 0;
					background: $light;
					@include default-trans(1s width ease);
				}

				&:hover:after {
					width: 100%;
				}
			}

			// submenu
			ul {
				display: none;
				position: absolute;
				height: auto;
				width: 260px;
				top: 70px;
				left: 0;
				padding: 1rem 0 0 0;
				margin: 0; 
				border-radius: 5px;
				-webkit-box-shadow: 0px 2px 21px -5px rgba(107,107,107,0.66);
				-moz-box-shadow: 0px 2px 21px -5px rgba(107,107,107,0.66);
				box-shadow: 0px 2px 21px -5px rgba(107,107,107,0.66);	

				&:before {
					content: "";
					position: absolute;
					width: 0;
					height: 0;
					left: 10px;
					top: 6px;
					border-style: solid;
					border-width: 0 10px 10px 10px;
					border-color: transparent transparent #ffffff transparent;
				}


				li {
					display: block;
					list-style-type: none;
					float: none;
					height: auto;
					overflow: hidden;
					margin: 0;
					background: $light;
					border-bottom: 1px solid #d4d4d4;

					&:last-child {
						border: none;
					}

					a {
						display: block;
						width: 100%;
						height: auto;
						line-height: 1;
						padding:  1rem;
						border: none;

						i {
							color:  $accent1;
							margin-right:  0.5rem;
						}

						&:hover, &.active {
							border: none;
						}

					}
				}
			}
		}		
	}	

	.social-media {
		display: block;
		float: right;
		height: 70px;
		margin: 0 0 0 2rem;
		border-left: 1px solid #d4d4d4;

		li {
			list-style-type: none;
			float: left;
			display: inline-block;
			height: 70px;
			margin: 0 1rem;

			&:last-child {
				border: none;
				margin: 0;
			}

			a {
				float: left;
				display: block;
				height: 70px;
				text-align: center;
				font-size: 1rem;
				color: #696969;
				line-height: 70px;
				@include default-trans(1s color ease);

				&:hover {
					color: $accent1;
				}

				i {
					font-size: 1.7rem;
				}
			}

			&.bee {
				border-left: 1px solid #d4d4d4;
				padding-left: 0.5rem;
				a img {
					width: 70px;
					height: auto;
					margin-top:  -5px;
				}
			}
		}
	}
}

.navigation-overlay {
	display: none;
}

@include mq-960 {
	.navigation-container {

		.branding {
			font-size: 1.2rem;
			top: 0.5rem;
			max-width: 230px;
		}

		.navigation, .social-media {
			display: none;
		}

		.burger {
			display: block;
			position: absolute;
			right: 0;
			top: 0.8rem;
			font-size: 1.3rem;
			width:  40px;
			height: 40px;
			border-radius: 50%;
			color: #fff;
			background: $accent1;
			cursor: pointer;
			outline: none;
			@include default-trans(1s background ease);

			&:hover {
				background: $accent2;
			}
		}
	}

	.navigation-overlay {
		display: block;
		width: 80vw;
		max-width: 256px;
		height: auto;
		padding: 1rem 1.5rem;
		top: 70px;
		right: -100%;
		position: fixed;
		z-index: 100;
		background: #444444;
		@include default-trans(1s right ease);

		&.open {
			right: 0;
			@include default-trans(1s right ease);
		}

		.navigation, .social-media {
			display: block;
			float: none;
			clear: both;
			margin: 0;
			width: 100%;
			padding-bottom: 1rem;
			border-bottom: 1px solid #828282;

			li {
				list-style-type: none;
				height: auto;

				a {
					display: block;
					color: $light;
					font-size: 1.125rem;
					padding: 0.5rem 0;
					height: auto;
					width: 100%;
					line-height: 1;
				}

				ul {
					margin: 0 0 0 2px;
					border-left: 1px solid #828282;
					padding: 0 0 0 0.7rem;

					li {
						a {
							font-size: 1rem;
							height: auto;
							margin: 0;
							padding: 0.5rem 0;
						}
					}
				}
			}			

			&.social-media {
				width: 100%;
				padding-bottom: 0;
				border: none;

				li {
					display: inline-block;

					a {
						display: block;
						float: left;
						height: 50px;
						list-style: 50px;
						margin-right:  0.5rem;

						i {
							font-size: 1.7rem;
							line-height: 39px;
						}
					}

					&.bee {
						padding-left: 0.5rem;
						border: none;

						a {
							font-size: 0.8rem;
							margin: 0;
							padding-top: 1.5rem
						}
						
						a img {
							width: 55px;
							height: auto;
							margin-top:  -13px;
						}
				
					}
				}
			}
		}
	}
}