{{ "<!-- CONTACT -->" | safeHTML }}
<div class="content-box callforpapers">
	<div class="inner-content">
		<div class="small-12 medium-12 large-12 columns">

			<h2 class="section-heading">Call for Papers</h2>
			<p> Inspire the people: though the first edition of DevOps Gathering Ruhr hasn’t even started yet, we are preparing the first round. </p>

			<h3>Dear DevOps Friends and Speakers! </h3>

			<p>We are in the preparation of the first edition of DevOps Gathering Conference in March 2017. One week after the Docker Birthday, we invite you to continue the celebrations with us.</p>

			<p>Everyone is invited to join discuss the hottest topics of the DevOps development with its impact on the digital transformation.  Join our journey and cooperate on  infrastructure technology and innovative solutions to revolutionize the software industry.</p>

			<p>We are looking forward to proposals with practical relevance – ideally based on project experiences or real technical inspiration.</p>

			<p>As usual, we would like to invite you to submit your proposals for sessions in March. We will focus on the following topics, but are always open for surprises with new inspiring talks.</p>
	
	<button> <a href="https://papercall.io/devops-gathering2017" class="btn btn-primary btn-xl more">Submit your Talk !</a> </button>
		</div>
				
	</div>
</div>