{{ "<!-- CONTACT -->" | safeHTML }}
    <div class="content-box contact">
        <div class="inner-content">
                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}

                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
                {{ if .Site.Params.contact.email }}
                    <a href="mailto:{{ .Site.Params.contact.email }}"> 
                        <i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>