{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <a class="logo" href="#">Devops Gathering 2017</a>
    <ul>
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">Lorem ipsum</a></li>
    </ul>
    <ul class="social-media">
        <li><a href="">Facebbook</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Google +</a></li>
    </ul>
</nav>
