<div class="content-box speaker" id="speaker">
	<h2>Speaker</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, praesentium, veniam. Quisquam nihil quidem repudiandae labore aliquid. Mollitia soluta neque officiis eos rem reiciendis aliquam, laborum dolores sapiente fugiat, quidem.</p>
	<div class="inner-content">
		<div class="logo small-12 medium-3 large-3 columns">
			<a traget="_blank" class="big" href="https://bee42.com">
				<img src="/img/bee42.svg"/>
			</a>
		</div>
		<div class="logo small-12 medium-3 large-3 columns">
			<a traget="_blank" class="big" href="https://gdata.de">
				<img src="/img/gdata.png"/>
			</a>
		</div>
		<div class="logo small-12 medium-3 large-3 columns">
			<a traget="_blank" class="big" href="http://agentur-aufgeweckt.de">
				<img src="/img/agentur-aufgeweckt.svg"/>
			</a>
		</div>							
	</div>
</div>