<div class="content-box sponsoring" id="sponsoring">
	<h2>Sponsoring</h2>
	<div class="inner-content">
		<div class="logo small-12 medium-4 large-4 columns">
			<a traget="_blank" class="big" href="https://bee42.com">
				<img src="/img/bee42.svg"/>
			</a>
		</div>
		<div class="logo small-12 medium-4 large-4 columns">
			<a traget="_blank" class="big" href="https://gdata.de">
				<img src="/img/gdata.png"/>
			</a>
		</div>
		<div class="logo small-12 medium-4 large-4 columns">
			<a traget="_blank" class="big" href="http://agentur-aufgeweckt.de">
				<img src="/img/agentur-aufgeweckt.svg"/>
			</a>
		</div>							
	</div>
</div>