<div class="content-box program">
	<div class="inner-content">
		<h2>Workshops</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi eum aspernatur quod debitis veritatis, ipsum cumque. Odio, eligendi nam repudiandae quae accusantium doloribus quod doloremque numquam provident explicabo, magni impedit.</p>
		<ul class="accordion">

			{{range where .Data.Pages "Section" "workshops"}}
				{{.Render "li"}}
			{{end}}
			<li class="acc-container-break">
				<div class="acc-title">
					<h3><span class="time break">12:00 - 13:00</span>Lunch Break<span class="subline">Lorem Ipsum</span></h3>
				</div>	
			</li>	


		</ul>

	</div>
</div>