<div class="content-box program">
	<div class="inner-content">
		<h2>Workshops</h2>
		<p>{{.Site.Params.workshops.text}}</p>
		<ul class="accordion">

			{{range first 2 (where .Data.Pages.ByWeight "Section" "workshops") }}
				{{.Render "li"}}
			{{end}}

			<li class="acc-container-break">
				<div class="acc-title">
					<h3><span class="time break">{{.Site.Params.workshops.lunchbreak}}</span>Lunch Break</h3>
				</div>	
			</li>
			{{range last 3 (where .Data.Pages.ByWeight "Section" "workshops") }}
				{{.Render "li"}}
			{{end}}
		</ul>

	</div>
</div>