<footer>
	<div class="inner-content">
		<p><a href="/">DevOps Gathering &copy; 2017</a></p>
		<p><a href="https://bee42.com/" target="_blank">Organizer <img src="/img/bee42.svg" alt=""></a> </p>
	</div>
	
	<div class="inner-content">
		<ul class="footer-nav">
			<li><a href="/code-of-conduct">Conference Code of Conduct</a>	</li>
			<li><a href="/general-terms-and-conditions">Terms and Conditions</a> </li>
			<li><a href="/privacy-policy">Privacy Policy</a></li>
			<li><a href="/imprint">Imprint</a> </li>
		</ul>	
	</div>

</footer>