<div class="content-box location" id="location">
	<h2>Venue</h2>
	<p>Here is our venue for the pre conference workshops on 23.3 and the conference on 24./25.3</p>
	<div class="inner-content">
    <div class="small-12 medium-6 large-6 columns">
      <h3>Docker workshop venue</h3>
			<h3>Veranstaltungszentrum RUB</h3>
			<p>Universitätsstraße 150, 44801 Bochum</p>
		</div>
		<div class="small-12 medium-6 large-6 columns">
		
      <h3>Main conference venue</h3>
			<h3>G Data Software AG</h3>
			<p>Königsallee 178b, 44799 Bochum</p>
		</div>

	
<p><a href="{{ .Site.BaseURL }}venue" style="display: inline-block" class="more">Read more</a></p>

	</div>
</div>