<nav class="navigation-container">
	<div class="inner-content">
			<a  class="branding" href="{{.Site.BaseURL}}"><img src="/img/logo-dogr-header.svg"/></a>
		
		<ul class="social-media">
				<li><a href="https://twitter.com/devopsgathering"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://www.youtube.com/channel/UCQZcFFlmKBBAhvSupNTm2tw"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
			</li>
			<li class="bee"><a href="https://bee42.com/" target="_blank">Organizer <img src="img/bee42.svg" alt=""></a> </li>
		</ul> 		
		<ul class="navigation">
			<li><a href="{{.Site.BaseURL}}#about">Home</a></li>
			<li><a href="{{.Site.BaseURL}}#workshops">Workshops</a></li>
			<li><a href="{{.Site.BaseURL}}#speakers">Speakers</a></li>
			<li><a href="{{.Site.BaseURL}}#tickets">Tickets</a></li>
			<li><a href="{{.Site.BaseURL}}#sponsoring">Sponsoring</a></li>
		</ul>
		<button class="burger"><i class="fa fa-bars " aria-hidden="true"></i></button>
	</div>
</nav>