<nav class="navigation-container">
	<div class="inner-content">
		<a  class="branding" href="{{.Site.BaseURL}}"><img src="/img/logo-dogr-header.svg"/></a>
		
		<ul class="social-media">
				<li><a href="https://twitter.com/devopsgathering"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="https://www.youtube.com/channel/UCQZcFFlmKBBAhvSupNTm2tw"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
			<li class="bee"><a href="https://bee42.com/" target="_blank"><img src="/img/bee42.svg" alt=""></a> </li>
		</ul> 		
		<ul class="navigation">
			<li><a href="#workshops">Workshops</a></li>
			<li><a href="#talks">Talks</a></li>
			<li><a href="#speakers">Speakers</a></li>
			<li><a href="#tickets">Tickets</a></li>
			<li><a href="/sponsoring">Sponsoring</a></li>
			<li><a href="#">Infos</a>
				<ul>
					<li><a href="/venue/"><i class="fa fa-angle-right" aria-hidden="true"></i> Venue</a></li>
					<li><a href="/accommodations/"><i class="fa fa-angle-right" aria-hidden="true"></i> Accommodations</a></li>
					<li><a href="/code-of-conduct/"><i class="fa fa-angle-right" aria-hidden="true"></i> Code of Conduct</a></li>
					<li><a href="/general-terms-and-conditions/"><i class="fa fa-angle-right" aria-hidden="true"></i> Terms and Condition</a></li>
				</ul>
			</li>
		</ul>
		<button class="burger"><i class="fa fa-bars " aria-hidden="true"></i></button>
	</div>
</nav>