<div class="content-box sponsoring" id="sponsoring">
	<h2>Sponsoring</h2>
	<p>Interested in sponsoring our Conference?<br>
	Please have a look at our <a href="/sponsoring">sponsoring packages</a>.
	</p>
	<div class="inner-content">
		<div class="row">

			<h3>Gold Sponsor</h3>

			<div class="small-12 medium-12 large-12 columns">
				<div class="small-12 medium-4 large-4 columns">
					<a traget="_blank" class="big logo" href="https://bee42.com"><img src="/img/bee42.svg"/></a>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam distinctio quibusdam eligendi nostrum delectus aut at magnam, assumenda exercitationem ducimus consectetur vitae doloribus, quas alias soluta explicabo hic natus.</p>
					<a href="https://bee42.com">bee42 solutions GmbH</a>
				</div>
			</div>

			<div class="small-12 medium-12 large-12 columns">
				<div class="small-12 medium-4 large-4 columns">
					<a traget="_blank" class="big logo" href="https://gdata.de">
						<img src="/img/gdata.png"/>
					</a>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam distinctio quibusdam eligendi nostrum delectus aut at magnam, assumenda exercitationem ducimus consectetur vitae doloribus, quas alias soluta explicabo hic natus.</p>
					<a href="https://gdata.de">G Data</a>
				</div>
			</div>			

			<h3>Silver Sponsor</h3>

			<div class="small-12 medium-12 large-12 columns">
				<div class="small-12 medium-4 large-4 columns">
					<a traget="_blank" class="big logo" href="http://www.setlog.com/de/"><img src="/img/setlog.png"/></a>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam distinctio quibusdam eligendi nostrum delectus aut at magnam, assumenda exercitationem ducimus consectetur vitae doloribus, quas alias soluta explicabo hic natus.</p>
					<a href="http://www.setlog.com/de/">Setlog</a>
				</div>
			</div>

			<div class="small-12 medium-12 large-12 columns">
				<div class="small-12 medium-4 large-4 columns">
					<a traget="_blank" class="big logo" href="https://www.codecentric.de"><img src="/img/logo-codecentric.png"/></a>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam distinctio quibusdam eligendi nostrum delectus aut at magnam, assumenda exercitationem ducimus consectetur vitae doloribus, quas alias soluta explicabo hic natus.</p>
					<a href="https://www.codecentric.de">Codecentric</a>
				</div>
			</div>

			<h3>Bronze Sponsor</h3>

			<div class="small-12 medium-12 large-12 columns">
				<div class="small-12 medium-4 large-4 columns">
					<a traget="_blank" class="big logo" href="https://9elements.com"><img src="/img/9elements_logo_black.png"/></a>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam distinctio quibusdam eligendi nostrum delectus aut at magnam, assumenda exercitationem ducimus consectetur vitae doloribus, quas alias soluta explicabo hic natus.</p>
					<a href="https://9elements.com">9 Elements</a>
				</div>
			</div>

			<div class="small-12 medium-12 large-12 columns">
				<div class="small-12 medium-4 large-4 columns">
					<a traget="_blank" class="big logo" href="http://agentur-aufgeweckt.de"><img src="/img/agentur-aufgeweckt.svg"/></a>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam distinctio quibusdam eligendi nostrum delectus aut at magnam, assumenda exercitationem ducimus consectetur vitae doloribus, quas alias soluta explicabo hic natus.</p>
					<a href="http://agentur-aufgeweckt.de">Agentur Aufgeweckt</a>
				</div>
			</div>
		</div>
	</div>
</div>