<div class="content-box sponsoring" id="sponsoring">
	<h2>Sponsoring</h2>
	<p>Interessted in sponsoring our Conference ?<br>
	Please have a look at our <a href="/sponsoring">sponsoring packages</a>.
	</p>
	<div class="inner-content">
				<div class="row">
		<div class="logo small-12 medium-6 large-6 columns">
			<a traget="_blank" class="big logo" href="https://bee42.com">
				<img src="/img/bee42.svg"/>
			</a>
		</div>
		<div class="logo small-12 medium-6 large-6 columns">
			<a traget="_blank" class="big logo" href="https://gdata.de">
				<img src="/img/gdata.png"/>
			</a>
		</div>
				</div>
		<div class="row">
    <div class="logo small-12 medium-6 large-6 columns">
			<a traget="_blank" class="big logo" href="https://9elements.com">
				<img src="/img/9elements_logo_black.png"/>
			</a>
		</div>
		<div class="logo small-12 medium-6 large-6 columns">
			<a traget="_blank" class="big logo" href="http://agentur-aufgeweckt.de">
				<img src="/img/agentur-aufgeweckt.svg"/>
			</a>
		</div>
				</div>
	</div>
</div>
