<div class="content-box program" id="talks">
	<div class="inner-content">

		<h2>Talks at 24.3</h2>
		<p>{{.Site.Params.talks.text | safeHTML}}</p>
		<ul class="accordion">

			{{range first 6 (where .Data.Pages.ByWeight "Section" "talks") }}
				{{.Render "li"}}
			{{end}}

			<li class="acc-container-break">
				<div class="acc-title">
					<h3><span class="time break">{{.Site.Params.talks.lunchbreak}}</span>Lunch Break</h3>
				</div>
			</li>
			{{range last 4 (where .Data.Pages.ByWeight "Section" "talks") }}
				{{.Render "li"}}
			{{end}}		

			<li class="acc-container-break">
				<div class="acc-title">
					<h3><span class="time break">from 19:15</span>Partynight</h3>
				</div>
			</li>				
		</ul>

	</div>
</div>
