{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                    <h2 class="section-heading">Call for Papers</h2>

                    <hr class="primary">      
                    <p> Inspire the people: though the first edition of DevOps Gathering Ruhr hasn’t even started yet, we are preparing the first round. </p>

                        <p>            Dear DevOps Friends and Speakers! </p>

 <p>We are in the preparation of the first edition of DevOps Gathering Conference in March 2017. One week after the Docker Birthday, we invite you to continue the celebrations with us.</p>

 <p>Everyone is invited to join discuss the hottest topics of the DevOps development with its impact on the digital transformation.  Join our journey and cooperate on  infrastructure technology and innovative solutions to revolutionize the software industry.</p>

 <p>We are looking forward to proposals with practical relevance – ideally based on project experiences or real technical inspiration.</p>

 <p>As usual, we would like to invite you to submit your proposals for sessions in March. We will focus on the following topics, but are always open for surprises with new inspiring talks:</p>

<ul style="list-style: none">
    <li> <p>Docker Orchestration </p></li>
        <li> <p> Docker Security</p></li>
            <li> <p> Docker Networking</p> </li>
                <li>  <p>Docker for Microservices</p></li>
                    <li>  <p>Docker on ARM</p></li>
                        <li>  <p>Docker for Java or Go Developer</p></li>
                            <li>  <p>Stateful Container</p> </li>
                                <li>  <p>Provisioning </p></li>
                                    <li>  <p>Continuous Integration and Delivery </p></li>
                    <li>  <p>Cloud</p></li>
                                      <li>  <p>Logging & Monitoring</p></li>
                                       <li> <p> Container Technologies</p></li>
                                       <li> <p>Microservice based Front-End Development </p></li>
</ul>

 <p><strong>Date: 24 – 25 March, 2017</strong> </p>

 <p><strong>Location: G Data Campus Bochum </strong></p>

 <p><strong>Deadline for submissions: January 23, 2017</strong></p>

 <p>You can offer us  30 minutes talks or 10 minutes lightning stories or tech speeches.</p>

 <p>At 25.3 we plan a Docker expert OpenSpace and you can discuss the hottest Docker container or ecosystem topics.</p>

 <p>We are looking forward to your comprehensive feedback as well as your questions, suggestions and discussions. </p>


            </div>
        </div>
    </div>
</section>
