{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
       
                    <h2 class="section-heading">Sponsors</h2>
            </div>
                 <div class="col-lg-4 text-center gdata">
                <a href="https://gdata.de"> <i class="wow bounceIn" data-wow-delay=".1s"></i> <img src="{{.Site.BaseURL}}/img/gdata.png" alt="G Data"></a>
                   
    
                </div>
                           <div class="col-lg-4   text-center bee42">
                <a href="https://bee42.com"> <i class="wow bounceIn" data-wow-delay=".1s"></i> <img src="{{.Site.BaseURL}}/img/bee42.svg" alt="bee42"></a>
                   
    
                </div>
        
        </div>
    </div>
</section>
