<div class="content-box topics">
	<div class="inner-content">
		<h2>Topics</h2>

		<div class="small-12 medium-12 large-4 columns">
			<ul class="topics">
				<li>Docker Orchestration </li>
				<li> Docker Security</li>
				<li> Docker Networking</li>
				<li> Docker for Microservices</li>
			</ul>
		</div>	

		<div class="small-12 medium-12 large-4 columns">
		<ul class="topics">
			<li> Docker on ARM</li>
			<li> Docker for Java or Go Developer</li>
			<li> Stateful Container </li>
			<li> Provisioning</li>	
			<li> Continuous Integration and Delivery </li>
		</ul>
		</div>
		<div class="small-12 medium-12 large-4 columns">
		<ul class="topics">
			<li> Cloud</li>
			<li> Logging &amp; Monitoring</li>
			<li>Container Technologies</li>
			<li>Microservice based Front-End Development</li>
		</ul>
		</div>
		<div class="clear"></div>

		<div class="small-12 medium-12 large-12 columns">
			<h3>Deadline for submissions: January 23, 2017</h3>
			<p>You can offer us  30 minutes talks or 10 minutes lightning stories or tech speeches.
			At 25.3 we plan a Docker expert OpenSpace and you can discuss the hottest Docker container or ecosystem topics.
			We are looking forward to your comprehensive feedback as well as your questions, suggestions and discussions. </p>
		</div>
	</div>
</div>