<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
            {{ partial "nav.html" . }}

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}
    
      
 {{ partial "callforpapers.html" . }}
        {{ if .Site.Params.contact }}
            {{ partial "contact.html" . }}
        {{ end }}



        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
